
<div class="bg">
    <div class="alert alert-success" *ngIf="successMessage">
        {{ successMessage }}
      </div>
      <div class="alert alert-danger" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
<div class="container form-center">
    <div class="col-md-6">
        <div class="form-container">
            <h3 class="text-center mb-4">Create User</h3>
            <form [formGroup]="userForm" (ngSubmit)="createUser()">
                <div class="form-group">
                    <input required type="text" class="form-control" id="name" formControlName="userName" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <input required type="email" class="form-control"  id="email" formControlName="email" placeholder="Enter your email">

                </div>
                <button type="submit" class="btn btn-custom btn-block">Create</button>
            </form>
            <div class="form-footer">
                <p><a href="#" (click)="showUserDetails()" data-toggle="modal" data-target="#myModal">All Users</a></p>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal bg" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
            <h2>All Users</h2>
          <button type="button" class="close"  (click)="closePopup()" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
            <ul *ngIf="users.length > 0">  <li *ngFor="let user of users">
                {{ user.userName }} - {{ user.email }}
              </li>
            </ul>
            <h3 *ngIf="users.length == 0">No users found!</h3> 
            
        </div>
        <!-- Modal footer -->
        <!-- <div class="modal-footer"> -->
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button> -->
        </div>

      </div>
    </div>
  </div>

<!-- Popup -->
<!-- <div class="popup" *ngIf="showPopup">
    <h2>All Users</h2>
    <ul>
      <li *ngFor="let user of users">
        {{ user.userName }} - {{ user.email }}
      </li>
    </ul>
    <button (click)="closePopup()">Close</button>
  </div>
</div> -->
